<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>agenda-web</display-name>
  <servlet>
    <servlet-name>login</servlet-name>
    <servlet-class>servlet.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>login</servlet-name>
    <url-pattern>/login.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>logout</servlet-name>
    <servlet-class>servlet.Logout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>logout</servlet-name>
    <url-pattern>/sistema/logout.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>uploadcontatofoto</servlet-name>
    <servlet-class>servlet.UploadContatoFoto</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>uploadcontatofoto</servlet-name>
    <url-pattern>/sistema/uploadcontatofoto.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>contatofoto</servlet-name>
    <servlet-class>servlet.ContatoFoto</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>contatofoto</servlet-name>
    <url-pattern>/sistema/contatofoto.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>buscarcontatos</servlet-name>
    <servlet-class>servlet.BuscarContatos</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>buscarcontatos</servlet-name>
    <url-pattern>/sistema/buscarcontatos.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>listarcontatos</servlet-name>
    <servlet-class>servlet.ListarContatos</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>listarcontatos</servlet-name>
    <url-pattern>/sistema/listarcontatos.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>cadastrarcontato</servlet-name>
    <servlet-class>servlet.CadastrarContato</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>cadastrarcontato</servlet-name>
    <url-pattern>/sistema/cadastrarcontato.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>cadastraremail</servlet-name>
    <servlet-class>servlet.CadastrarEmail</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>cadastraremail</servlet-name>
    <url-pattern>/sistema/cadastraremail.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>alterarcontato</servlet-name>
    <servlet-class>servlet.AlterarContato</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>alterarcontato</servlet-name>
    <url-pattern>/sistema/alterarcontato.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>alteraremail</servlet-name>
    <servlet-class>servlet.AlterarEmail</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>alteraremail</servlet-name>
    <url-pattern>/sistema/alteraremail.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>deletarcontato</servlet-name>
    <servlet-class>servlet.DeletarContato</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>deletarcontato</servlet-name>
    <url-pattern>/sistema/deletarcontato.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>deletartelefone</servlet-name>
    <servlet-class>servlet.DeletarTelefone</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>deletartelefone</servlet-name>
    <url-pattern>/sistema/deletartelefone.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>deletaremail</servlet-name>
    <servlet-class>servlet.DeletarEmail</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>deletaremail</servlet-name>
    <url-pattern>/sistema/deletaremail.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>cadastrartelefone</servlet-name>
    <servlet-class>servlet.CadastrarTelefone</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>cadastrartelefone</servlet-name>
    <url-pattern>/sistema/cadastrartelefone.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>alterartelefone</servlet-name>
    <servlet-class>servlet.AlterarTelefone</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>alterartelefone</servlet-name>
    <url-pattern>/sistema/alterartelefone.do</url-pattern>
  </servlet-mapping>
  <filter>
    <filter-name>sessao</filter-name>
    <filter-class>filtros.Sessao</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>sessao</filter-name>
    <url-pattern>/sistema/*</url-pattern>
    <dispatcher>FORWARD</dispatcher>
    <dispatcher>REQUEST</dispatcher>
  </filter-mapping>
  <filter>
    <filter-name>loginfilter</filter-name>
    <filter-class>filtros.LoginFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>loginfilter</filter-name>
    <url-pattern>/login</url-pattern>
    <dispatcher>FORWARD</dispatcher>
    <dispatcher>REQUEST</dispatcher>
  </filter-mapping>
  <error-page>
    <error-code>404</error-code>
    <location>/errorpage.jsp</location>
  </error-page>
  <session-config>
    <session-timeout>30</session-timeout>
  </session-config>
</web-app>